[submodule "components/simplicio-mapper"]
	path = components/simplicio-mapper
	url = https://github.com/wesleysimplicio/simplicio-mapper.git
	branch = main
[submodule "components/simplicio-dev-cli"]
	path = components/simplicio-dev-cli
	url = https://github.com/wesleysimplicio/simplicio-dev-cli.git
	branch = main
[submodule "components/simplicio-fast"]
	path = components/simplicio-fast
	url = https://github.com/wesleysimplicio/simplicio-fast.git
	branch = main
